In [1]:
import sys
import os
import pandas as pd

# Add the correct relative path to the scripts folder
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../src'))

In [2]:

# Now import the module
from connection import PostgresConnection

In [3]:
db = PostgresConnection(dbname='telecom', user='postgres', password='1864')
db.connect()

# Example query
query = "SELECT * FROM xdr_data"
result = db.execute_query(query)

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result, columns=[desc[0] for desc in db.cursor.description])
print(df.head())  # Display the first few rows of the DataFrame

# Close the connection when done
db.close_connection()

Connected to PostgreSQL database!
      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]
Connection closed.

In [4]:
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [5]:
from utils import missing_values_table, convert_bytes_to_megabytes

In [6]:
missing_values_df = missing_values_table(df)
print("Missing Values in df:")
print(missing_values_df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.
Missing Values in df:
                                          Missing Values  % of Total Values  \
Nb of sec with 37500B < Vol UL                    130254               86.8
Nb of sec with 6250B < Vol UL < 37500B            111843               74.6
Nb of sec with 125000B < Vol DL                    97538               65.0
TCP UL Retrans. Vol (Bytes)                        96649               64.4
Nb of sec with 31250B < Vol DL < 125000B           93586               62.4
Nb of sec with 1250B < Vol UL < 6250B              92894               61.9
Nb of sec with 6250B < Vol DL < 31250B             88317               58.9
TCP DL Retrans. Vol (Bytes)                        88146               58.8
HTTP UL (Bytes)                                    81810               54.5
HTTP DL (Bytes)                                    81474               54.3
Avg RTT DL (ms)                                    27829               18.6
Avg RTT UL (ms)                                    27812               18.5
Last Location Name                                  1153                0.8
MSISDN/Number                                       1066                0.7
Bearer Id                                            991                0.7
Nb of sec with Vol UL < 1250B                        793                0.5
UL TP < 10 Kbps (%)                                  792                0.5
50 Kbps < UL TP < 300 Kbps (%)                       792                0.5
UL TP > 300 Kbps (%)                                 792                0.5
10 Kbps < UL TP < 50 Kbps (%)                        792                0.5
Nb of sec with Vol DL < 6250B                        755                0.5
DL TP > 1 Mbps (%)                                   754                0.5
50 Kbps < DL TP < 250 Kbps (%)                       754                0.5
250 Kbps < DL TP < 1 Mbps (%)                        754                0.5
DL TP < 50 Kbps (%)                                  754                0.5
Handset Manufacturer                                 572                0.4
Handset Type                                         572                0.4
IMEI                                                 572                0.4
IMSI                                                 570                0.4
Start                                                  1                0.0
Start ms                                               1                0.0
End                                                    1                0.0
End ms                                                 1                0.0
Dur. (ms)                                              1                0.0
Avg Bearer TP UL (kbps)                                1                0.0
Avg Bearer TP DL (kbps)                                1                0.0
Dur. (ms).1                                            1                0.0
Activity Duration UL (ms)                              1                0.0
Activity Duration DL (ms)                              1                0.0
Total UL (Bytes)                                       1                0.0
Total DL (Bytes)                                       1                0.0

                                            Dtype
Nb of sec with 37500B < Vol UL            float64
Nb of sec with 6250B < Vol UL < 37500B    float64
Nb of sec with 125000B < Vol DL           float64
TCP UL Retrans. Vol (Bytes)               float64
Nb of sec with 31250B < Vol DL < 125000B  float64
Nb of sec with 1250B < Vol UL < 6250B     float64
Nb of sec with 6250B < Vol DL < 31250B    float64
TCP DL Retrans. Vol (Bytes)               float64
HTTP UL (Bytes)                           float64
HTTP DL (Bytes)                           float64
Avg RTT DL (ms)                           float64
Avg RTT UL (ms)                           float64
Last Location Name                         object
MSISDN/Number                             float64
Bearer Id                                 float64
Nb of sec with Vol UL < 1250B             float64
UL TP < 10 Kbps (%)                       float64
50 Kbps < UL TP < 300 Kbps (%)            float64
UL TP > 300 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)             float64
Nb of sec with Vol DL < 6250B             float64
DL TP > 1 Mbps (%)                        float64
50 Kbps < DL TP < 250 Kbps (%)            float64
250 Kbps < DL TP < 1 Mbps (%)             float64
DL TP < 50 Kbps (%)                       float64
Handset Manufacturer                       object
Handset Type                               object
IMEI                                      float64
IMSI                                      float64
Start                                      object
Start ms                                  float64
End                                        object
End ms                                    float64
Dur. (ms)                                 float64
Avg Bearer TP UL (kbps)                   float64
Avg Bearer TP DL (kbps)                   float64
Dur. (ms).1                               float64
Activity Duration UL (ms)                 float64
Activity Duration DL (ms)                 float64
Total UL (Bytes)                          float64
Total DL (Bytes)                          float64

In [7]:
from data_prepartion import DataFrameCleaner
from data_cleaning import DataFrameProcessor

In [8]:
preprared = DataFrameCleaner(df)

In [9]:
preprared.null_percentage()

Bearer Id                                    0.660662
Start                                        0.000667
Start ms                                     0.000667
End                                          0.000667
End ms                                       0.000667
Dur. (ms)                                    0.000667
IMSI                                         0.379997
MSISDN/Number                                0.710662
IMEI                                         0.381331
Last Location Name                           0.768662
Avg RTT DL (ms)                             18.552543
Avg RTT UL (ms)                             18.541210
Avg Bearer TP DL (kbps)                      0.000667
Avg Bearer TP UL (kbps)                      0.000667
TCP DL Retrans. Vol (Bytes)                 58.763608
TCP UL Retrans. Vol (Bytes)                 64.432237
DL TP < 50 Kbps (%)                          0.502663
50 Kbps < DL TP < 250 Kbps (%)               0.502663
250 Kbps < DL TP < 1 Mbps (%)                0.502663
DL TP > 1 Mbps (%)                           0.502663
UL TP < 10 Kbps (%)                          0.527996
10 Kbps < UL TP < 50 Kbps (%)                0.527996
50 Kbps < UL TP < 300 Kbps (%)               0.527996
UL TP > 300 Kbps (%)                         0.527996
HTTP DL (Bytes)                             54.315638
HTTP UL (Bytes)                             54.539636
Activity Duration DL (ms)                    0.000667
Activity Duration UL (ms)                    0.000667
Dur. (ms).1                                  0.000667
Handset Manufacturer                         0.381331
Handset Type                                 0.381331
Nb of sec with 125000B < Vol DL             65.024900
Nb of sec with 1250B < Vol UL < 6250B       61.928920
Nb of sec with 31250B < Vol DL < 125000B    62.390251
Nb of sec with 37500B < Vol UL              86.835421
Nb of sec with 6250B < Vol DL < 31250B      58.877607
Nb of sec with 6250B < Vol UL < 37500B      74.561503
Nb of sec with Vol DL < 6250B                0.503330
Nb of sec with Vol UL < 1250B                0.528663
Social Media DL (Bytes)                      0.000000
Social Media UL (Bytes)                      0.000000
Google DL (Bytes)                            0.000000
Google UL (Bytes)                            0.000000
Email DL (Bytes)                             0.000000
Email UL (Bytes)                             0.000000
Youtube DL (Bytes)                           0.000000
Youtube UL (Bytes)                           0.000000
Netflix DL (Bytes)                           0.000000
Netflix UL (Bytes)                           0.000000
Gaming DL (Bytes)                            0.000000
Gaming UL (Bytes)                            0.000000
Other DL (Bytes)                             0.000000
Other UL (Bytes)                             0.000000
Total UL (Bytes)                             0.000667
Total DL (Bytes)                             0.000667
dtype: float64

In [10]:
preprared.outlier_percentage

In [11]:
summary = preprared.display_summary(threshold=3)
print(summary)

                                          Null Percentage (%)  \
10 Kbps < UL TP < 50 Kbps (%)                        0.527996
250 Kbps < DL TP < 1 Mbps (%)                        0.502663
50 Kbps < DL TP < 250 Kbps (%)                       0.502663
50 Kbps < UL TP < 300 Kbps (%)                       0.527996
Activity Duration DL (ms)                            0.000667
Activity Duration UL (ms)                            0.000667
Avg Bearer TP DL (kbps)                              0.000667
Avg Bearer TP UL (kbps)                              0.000667
Avg RTT DL (ms)                                     18.552543
Avg RTT UL (ms)                                     18.541210
Bearer Id                                            0.660662
DL TP < 50 Kbps (%)                                  0.502663
DL TP > 1 Mbps (%)                                   0.502663
Dur. (ms)                                            0.000667
Dur. (ms).1                                          0.000667
Email DL (Bytes)                                     0.000000
Email UL (Bytes)                                     0.000000
End                                                  0.000667
End ms                                               0.000667
Gaming DL (Bytes)                                    0.000000
Gaming UL (Bytes)                                    0.000000
Google DL (Bytes)                                    0.000000
Google UL (Bytes)                                    0.000000
HTTP DL (Bytes)                                     54.315638
HTTP UL (Bytes)                                     54.539636
Handset Manufacturer                                 0.381331
Handset Type                                         0.381331
IMEI                                                 0.381331
IMSI                                                 0.379997
Last Location Name                                   0.768662
MSISDN/Number                                        0.710662
Nb of sec with 125000B < Vol DL                     65.024900
Nb of sec with 1250B < Vol UL < 6250B               61.928920
Nb of sec with 31250B < Vol DL < 125000B            62.390251
Nb of sec with 37500B < Vol UL                      86.835421
Nb of sec with 6250B < Vol DL < 31250B              58.877607
Nb of sec with 6250B < Vol UL < 37500B              74.561503
Nb of sec with Vol DL < 6250B                        0.503330
Nb of sec with Vol UL < 1250B                        0.528663
Netflix DL (Bytes)                                   0.000000
Netflix UL (Bytes)                                   0.000000
Other DL (Bytes)                                     0.000000
Other UL (Bytes)                                     0.000000
Social Media DL (Bytes)                              0.000000
Social Media UL (Bytes)                              0.000000
Start                                                0.000667
Start ms                                             0.000667
TCP DL Retrans. Vol (Bytes)                         58.763608
TCP UL Retrans. Vol (Bytes)                         64.432237
Total DL (Bytes)                                     0.000667
Total UL (Bytes)                                     0.000667
UL TP < 10 Kbps (%)                                  0.527996
UL TP > 300 Kbps (%)                                 0.527996
Youtube DL (Bytes)                                   0.000000
Youtube UL (Bytes)                                   0.000000

                                          Outlier Percentage (%)  \
10 Kbps < UL TP < 50 Kbps (%)                           1.345324
250 Kbps < DL TP < 1 Mbps (%)                           2.097986
50 Kbps < DL TP < 250 Kbps (%)                          2.307985
50 Kbps < UL TP < 300 Kbps (%)                          0.685995
Activity Duration DL (ms)                               2.371984
Activity Duration UL (ms)                               1.971987
Avg Bearer TP DL (kbps)                                 1.988653
Avg Bearer TP UL (kbps)                                 2.845981
Avg RTT DL (ms)                                         0.477997
Avg RTT UL (ms)                                         0.451330
Bearer Id                                               0.000000
DL TP < 50 Kbps (%)                                     2.311318
DL TP > 1 Mbps (%)                                      2.309318
Dur. (ms)                                               1.475990
Dur. (ms).1                                             1.475990
Email DL (Bytes)                                        0.000000
Email UL (Bytes)                                        0.000000
End                                                          NaN
End ms                                                  0.000000
Gaming DL (Bytes)                                       0.000000
Gaming UL (Bytes)                                       0.000000
Google DL (Bytes)                                       0.000000
Google UL (Bytes)                                       0.000000
HTTP DL (Bytes)                                         0.209332
HTTP UL (Bytes)                                         0.262665
Handset Manufacturer                                         NaN
Handset Type                                                 NaN
IMEI                                                    0.000000
IMSI                                                    0.002000
Last Location Name                                           NaN
MSISDN/Number                                           0.001333
Nb of sec with 125000B < Vol DL                         0.747995
Nb of sec with 1250B < Vol UL < 6250B                   0.410664
Nb of sec with 31250B < Vol DL < 125000B                0.752662
Nb of sec with 37500B < Vol UL                          0.086666
Nb of sec with 6250B < Vol DL < 31250B                  0.695995
Nb of sec with 6250B < Vol UL < 37500B                  0.230665
Nb of sec with Vol DL < 6250B                           1.996653
Nb of sec with Vol UL < 1250B                           2.456650
Netflix DL (Bytes)                                      0.000000
Netflix UL (Bytes)                                      0.000000
Other DL (Bytes)                                        0.000000
Other UL (Bytes)                                        0.000000
Social Media DL (Bytes)                                 0.000000
Social Media UL (Bytes)                                 0.000000
Start                                                        NaN
Start ms                                                0.000000
TCP DL Retrans. Vol (Bytes)                             0.277331
TCP UL Retrans. Vol (Bytes)                             0.036666
Total DL (Bytes)                                        0.000000
Total UL (Bytes)                                        0.036666
UL TP < 10 Kbps (%)                                     1.465990
UL TP > 300 Kbps (%)                                    0.499330
Youtube DL (Bytes)                                      0.000000
Youtube UL (Bytes)                                      0.000000

                                          Missing Values Count
10 Kbps < UL TP < 50 Kbps (%)                              792
250 Kbps < DL TP < 1 Mbps (%)                              754
50 Kbps < DL TP < 250 Kbps (%)                             754
50 Kbps < UL TP < 300 Kbps (%)                             792
Activity Duration DL (ms)                                    1
Activity Duration UL (ms)                                    1
Avg Bearer TP DL (kbps)                                      1
Avg Bearer TP UL (kbps)                                      1
Avg RTT DL (ms)                                          27829
Avg RTT UL (ms)                                          27812
Bearer Id                                                  991
DL TP < 50 Kbps (%)                                        754
DL TP > 1 Mbps (%)                                         754
Dur. (ms)                                                    1
Dur. (ms).1                                                  1
Email DL (Bytes)                                             0
Email UL (Bytes)                                             0
End                                                          1
End ms                                                       1
Gaming DL (Bytes)                                            0
Gaming UL (Bytes)                                            0
Google DL (Bytes)                                            0
Google UL (Bytes)                                            0
HTTP DL (Bytes)                                          81474
HTTP UL (Bytes)                                          81810
Handset Manufacturer                                       572
Handset Type                                               572
IMEI                                                       572
IMSI                                                       570
Last Location Name                                        1153
MSISDN/Number                                             1066
Nb of sec with 125000B < Vol DL                          97538
Nb of sec with 1250B < Vol UL < 6250B                    92894
Nb of sec with 31250B < Vol DL < 125000B                 93586
Nb of sec with 37500B < Vol UL                          130254
Nb of sec with 6250B < Vol DL < 31250B                   88317
Nb of sec with 6250B < Vol UL < 37500B                  111843
Nb of sec with Vol DL < 6250B                              755
Nb of sec with Vol UL < 1250B                              793
Netflix DL (Bytes)                                           0
Netflix UL (Bytes)                                           0
Other DL (Bytes)                                             0
Other UL (Bytes)                                             0
Social Media DL (Bytes)                                      0
Social Media UL (Bytes)                                      0
Start                                                        1
Start ms                                                     1
TCP DL Retrans. Vol (Bytes)                              88146
TCP UL Retrans. Vol (Bytes)                              96649
Total DL (Bytes)                                             1
Total UL (Bytes)                                             1
UL TP < 10 Kbps (%)                                        792
UL TP > 300 Kbps (%)                                       792
Youtube DL (Bytes)                                           0
Youtube UL (Bytes)                                           0

In [12]:
cleaner = DataFrameProcessor(df)

In [13]:
cleaner.clean_data()

c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mean(), inplace=True)  # Mean for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mode()[0], inplace=True)  # Mode for categorical
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mean(), inplace=True)  # Mean for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mean(), inplace=True)  # Mean for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mode()[0], inplace=True)  # Mode for categorical
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].median(), inplace=True)  # Median for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mean(), inplace=True)  # Mean for numeric
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].replace(0, np.nan, inplace=True)
c:\Users\befekadum\Documents\10x acadamy\week 2\Bussiness_recommendation_for_investor\scripts\data_cleaning.py:52: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mean(), inplace=True)  # Mean imputation

In [14]:
cleaned_df = cleaner.get_cleaned_data()

In [15]:
cleaned_df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0000,4/25/2019 14:35,662.00000,241538.000000,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,3.674974e+07,3.088796e+08
1,1.311448e+19,4/9/2019 13:04,235.0000,4/25/2019 8:15,606.00000,241538.000000,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,5.380039e+07,6.533850e+08
2,1.311448e+19,4/9/2019 17:42,1.0000,4/25/2019 11:58,652.00000,241538.000000,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,2.788364e+07,2.798073e+08
3,1.311448e+19,4/10/2019 0:31,486.0000,4/25/2019 7:36,171.00000,241538.000000,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,4.332422e+07,8.460285e+08
4,1.311448e+19,4/12/2019 20:10,565.0000,4/25/2019 10:40,954.00000,241538.000000,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,3.854281e+07,5.691386e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0000,4/30/2019 6:02,214.00000,81230.000000,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,5.762885e+07,5.741753e+08
149997,7.349883e+18,4/29/2019 7:28,483.0000,4/30/2019 10:41,187.00000,97970.000000,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,3.913508e+07,6.666488e+08
149998,1.311448e+19,4/29/2019 7:28,283.0000,4/30/2019 10:46,810.00000,98249.000000,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,3.491222e+07,5.927864e+08
149999,1.311448e+19,4/29/2019 7:28,696.0000,4/30/2019 10:40,327.00000,97910.000000,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,2.962610e+07,3.718959e+08
150000,1.013887e+19,4/26/2019 7:25,499.1882,4/25/2019 0:01,498.80088,104608.560347,2.082016e+14,4.188282e+10,4.847455e+13,D41377B,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08

In [17]:
from sent_cleaned_data_db import send_to_db